.task{
    background: teal;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.task h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task > h2 > span {
    background-color: red;
    color: transparent;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.task > h2 > span:hover {
    text-shadow: 0px 0px 1px red, 0px 0px 1px rgba(0, 0, 0, 0.8);
}

.task.reminder{
    border-left: solid greenyellow 5px;
}